<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Researcher</title>
</head>
<body>
	<div class="head1">
		<h1>Employee Researcher</h1>
		<h3>Selezionare il filtro desiderato</h3>
	</div>

	<div th:replace="fragment/research :: research-emp"></div>

	<div id="employeeTable"
		th:replace="fragment/table_fragment :: employee-table"></div>

	<script>
    document.getElementById("searchForm").addEventListener("submit", function(event) {
        event.preventDefault(); 
        const formData = new FormData(this);
        
        fetch("/search", {
            method: "POST",
            body: formData,
        })
        .then(response => response.text())
        .then(html => {  
            document.getElementById("employeeTable").innerHTML = html;
        })
        .catch(error => console.error("Error:", error));
    });
</script>

</body>


</html>